.carousel
  margin: 0 30px
  @media( max-width: 628px )
    margin: 0 15px
  &__header
    font-size: 88px
    line-height: 90px
    text-align: center
    letter-spacing: -0.04em
    color: #2B362A
    margin-bottom: 80px
    @media( max-width: 450px )
      font-size: 68px
      line-height: 70px
  &__icon
    @media( max-width: 672px )
      transform: scale(0.8)
    @media( max-width: 532px )
      transform: scale(0.7)

  &__container
    position: relative
    width: 100%
    padding: 0 auto
    max-width: 1125px
    overflow: hidden
  &__img
    max-width: 100%
    height: auto
  &__button
    position: absolute
    top: 50%
    border: 0
    background-color: transparent
    cursor: pointer
    @media( max-width: 672px )
      transform: scale(0.8)
    @media( max-width: 532px )
      transform: scale(0.7)

  &__prevButton
    left: 0
    transform: translate(-50%, -50%)
    @media( max-width: 672px )

      transform: scale(0.8)
    @media( max-width: 532px )
      transform: scale(0.7)
  &__nextButton
    right: 0
    transform: translate(50%, -50%)
    @media( max-width: 672px )
      transform: scale(0.8)
    @media( max-width: 532px )
      transform: scale(0.7)
        //   transform: translate(0, -50%)