.form
  margin: 3rem auto
  font-family: sans-serif
  max-width: 40rem

  & .form-row
    margin-bottom: 1rem

  & .form-row:last-child
    margin-bottom: 0

  & input[type="text"],
  & input[type="email"],
  & textarea,
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.07)

  & input[type="text"],
  & input[type="email"],
  & textarea
    border-radius: 0.2rem
    font-family: sans-serif
    padding: 0.8rem
    border: 1px solid #aaa
    display: block
    width: 100%
    color: #666

  & input[type="text"]:focus,
  & input[type="email"]:focus,
  & textarea:focus
    border-color: #9dc9f5
    box-shadow: inset 0 0 0 1px #9dc9f5, inset 0 1px 5px rgba(0, 0, 0, 0.07)
    outline: none

  & textarea
    height: 10rem

  & .submit-btn
    font-weight: 800
    font-size: 18px
    line-height: 22px
    background: #000000
    text-align: center
    text-transform: uppercase
    color: #FFFFFF
    transition: 0.3s background-color
    cursor: pointer
    padding: 19px 40px

  & .submit-btn:hover
    background: #7ec927

  & .checkbox-cnt
    padding-left: 3rem
    position: relative
    font-weight: normal
    font-size: 0.85rem
    line-height: 1.1rem
    color: #444
    cursor: pointer

  & input[type="text"].error,
  & input[type="email"].error,
  & textarea.error,
    border-color: #e01546

.field-error
  color: #e01546
  padding: 0.5rem 0
  font-size: 0.8rem
